<form class="example-form">
<mat-form-field appearance="fill">
  <mat-label>User</mat-label>
  <mat-select>
    <mat-option>
      -
    </mat-option>
    <mat-option *ngFor="let item of users" [value]="item.UserName">
      {{item.UserName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>
  <mat-form-field appearance="fill">
  <mat-label>Depot</mat-label>
  <mat-select>
    <mat-option *ngFor="let item of depot" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>
<button mat-flat-button color="primary">save</button>
</form>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->